@font-face {
  font-family: 'Gen Jyuu Gothic X';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GenJyuuGothicX-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gen Jyuu Gothic X';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/GenJyuuGothicX-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Han Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SourceHanSansTC-Medium.otf) format('opentype');
}

body {
  overflow: hidden;
}

.App {
  width: 1080px;
  height: 100vh;
  min-height: 1800px;
  max-height: 2000px;
  position: relative;
  font-family: 'Gen Jyuu Gothic X';
  overflow: hidden;
}

img {
  pointer-events: none;
}

* {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* general */

.play-that-bgm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.action-btn {  
  width: 360px;
  height: 180px;
  position: relative;
  margin: 0 auto;
  border: 8px solid #AC5508;
  border-radius: 84px;
  color: #FFF;
  font-size: 52px;
  font-weight: 900;
  line-height: 180px;
  letter-spacing: .05em;
  text-align: center;
  text-indent: .25em;
}

.action-btn:before {
  content: '';
  width: 360px;
  height: 180px;
  border-radius: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(.93) scaleY(.88);
  transform-origin: left bottom;
  background-color: #EF8519;
}

.svg {
  position: absolute;
}

.source-han {
  font-family: 'Source Han Sans TC';
}

/* start page */
.svg-start-background { width: 100%; left: 0; top: 0; }
.svg-start-branch { width: 100%; left: 0; top: 0; }
.svg-start-logo { width: 274px; left: 402px; top: 96px; }
.svg-start-title { width: 882px; left: 78px; top: 438px; }
.svg-start-bat { width: 106px; right: 120px; top: 88px; }
.svg-start-bird { width: 328px; left: 84px; bottom: 38px; }
.svg-start-cat { width: 254px; right: 180px; bottom: 138px; }
.svg-start-grass { width: 100%; left: 0; bottom: -6px; }
.svg-start-mouse { width: 192px; left: 0; bottom: -6px; }
.svg-start-lizard { width: 220px; right: 0; bottom: -6px; }

.start-btn {
  position: absolute;
  left: 50%;
  top: 900px;
  transform: scale(1.4) translateX(-35.7%);
}

/* intro page */
.intro {
  background-color: #7FBE26;
  width: 100%;
  height: 100%;
  padding-top: 360px;
}

.intro-container {
  position: relative;
  background-color: #FFFFFF;
  width: 690px;
  height: 960px;
  border-radius: 50px;
  border: 10px solid #3E7C18;
  margin: 0 auto;
  overflow: hidden;
}

.intro-title {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: #3E7C18;
  margin-top: 60px;
  margin-bottom: 30px;
}

.intro-description {
  text-align: center;
  width: 70%;
  font-size: 32px;
  color: #1A1A1A;
  margin: 0 auto;
}

.intro-description::before {
  content: '提示';
  text-align: center;
  font-size: 28px;
  display: block;
  width: 56px;
  margin: 0 auto 20px;
  border-bottom: 4px #1A1A1A dotted;
}

.intro-btn {
  transform: scale(.92);
  margin: 48px auto;
}

.svg-intro-avatar { width: 326px; right: 150px; bottom: -10px; }
.svg-intro-dialog { width: 130px; left: 92px; bottom: 272px; }

/* quiz page */

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question-wrapper {
  display: flex;
  width: 80%;
  margin: 180px auto 60px;
}

.question-count {
  font-size: 108px;
  font-weight: 900;
  color: #7EBC25;
  width: 200px;
}

.question-content {
  font-size: 48px;
  color: #1A1A1A;
  margin-left: 48px;
  padding-top: 12px;
}

.answer-options {
  justify-content: space-between;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.answer-option {
  text-align: center;
  position: absolute;
  display: table;
  left: 0;
  top: 0;
  width: 212px;
  height: 212px;
  color: #488A1F;
  border: 6px solid #3E7C18;
  border-radius: 50%;
  font-size: 36px;
}

.answer-option:nth-child(2) {
  left: 278px;
}

.answer-option:nth-child(3) {
  left: 556px;
}

.answer-option p {
  display: table-cell;
  vertical-align: middle;
  word-break: keep-all;
}

.false .answer-option.correct:after {
  content: '';
  background: url(./images/quiz/correct.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  right: -8px;
  top: -8px;
  animation: check .25s ease-in;
}

.answer-option.incorrect:after {
  content: '';
  background: url(./images/quiz/incorrect.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  right: -8px;
  top: -8px;
  animation: check .25s ease-in;
}

@keyframes check {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.answer-option:before {
  content: '';
  width: 212px;
  height: 212px;
  transform: scale(.9);
  transform-origin: left bottom;
  display: block;
  background-color: #CDDC4C;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.illustration {
  margin: 60px auto;
  position: relative;
}

.illustration:before {
  content: '';
  width: 264px;
  height: 180px;
  position: absolute;
  right: 144px;
  top: 60px;
}

.illustration.success:before {
  background: url(./images/quiz/success.svg) center center no-repeat;
  animation: stamp 1s ease-in;
}

.illustration.failure:before {
  background: url(./images/quiz/failure.svg) center center no-repeat;
  animation: stamp 1s ease-in;
}

@keyframes stamp {
  0% {
    transform: scale(5);
    opacity: 0;
  }
  50% {
    transform: scale(5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.answer-description {
  position: absolute;
  left: 28%;
  width: 70%;
  font-size: 36px;
  color: #488A1F;
  margin-left: 48px;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}

.answer-description::before {
  content: '說明';
  text-align: center;
  font-size: 28px;
  display: block;
  width: 56px;
  margin-bottom: 20px;
  border-bottom: 4px #488A1F dotted;
}

.answer-options.true .answer-option{
  visibility: hidden;
}

.answer-options.true .answer-option.correct{
  visibility: visible;
}

.quiz-btn {
  animation: show .5s ease-in;
}

/* result page */

.result {
  /* background: radial-gradient(circle at center, #FFFFFF 0%, #FFFFFF 70%, #CDDC4C 70%, #CDDC4C 100%); */
  background-color: #CDDC4C;
  width: 100%;
  height: 100%;
}

.result-focus {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vw;
  border-radius: 50vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(2.4);
}

.result-title {
  position: absolute;
  top: 700px;
  width: 100%;
  font-size: 60px;
  color: #1A1A1A;
  text-align: center;
}

.result-score {
  font-size: 96px;
  font-weight: 900;
  color: #7EBC25;
  display: inline-block;
  width: 108px;
  text-align: center;
}

.result-details {
  position: absolute;
  top: 840px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 54px;
  margin: 48px auto;
}

.svg-result-thumbnail {
  width: 156px;
}

.detail-per-question {
  position: relative;
  opacity: .25;
  transition: .25s;
}

.detail-per-question:after {
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  right: -4px;
  top: -4px;
}

.detail-per-question.correct {
  opacity: 1;
}

.detail-per-question.incorrect {
  opacity: 1;
}

.detail-per-question.correct:after {
  background: url(./images/quiz/correct.svg);
  animation: check .25s ease-in;
}

.detail-per-question.incorrect:before {
  content: '';
  position: absolute;
  width: 148px;
  height: 148px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .25);
}

.detail-per-question.incorrect:after {
  background: url(./images/quiz/incorrect.svg);
  animation: check .25s ease-in;
}

.result-illustration {
  position: absolute;
  top: 640px;
  width: 100%;
  height: 600px;
  opacity: 0;
  transform: scale(0);
}

.result-description {
  position: absolute;
  left: 15%;
  top: 1290px;
  width: 70%;
  opacity: 0;
  word-break: keep-all;
  text-align: center;
  font-size: 42px;
  color: #1A1A1A;
  margin: 0 auto;
}

.result-btn {
  position: absolute;
  top: 1430px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.svg-result-okay-book { width: 170px; left: 336px; bottom: 162px; animation: avatar 1.5s alternate infinite ease-in-out;}
.svg-result-okay-avatar { width: 338px; left: 374px; bottom: 146px; animation: animal 1.5s reverse infinite;}

.svg-result-nice-avatar { width: 356px; left: 360px; bottom: 152px; animation: avatar 1s alternate infinite ease-in-out;}

.svg-result-great-avatar { width: 386px; left: 366px; bottom: 142px; animation: avatar 1s alternate infinite ease-in-out;}
.svg-result-great-bird { width: 188px; left: 638px; bottom: 68px; animation: animal 1.5s infinite;}
.svg-result-great-background { width: 592px; left: 232px; bottom: 98px; animation: bground 1s alternate infinite;} 

.svg-result-excellent-avatar { width: 576px; left: 254px; bottom: 154px; animation: avatar 1s alternate infinite ease-in-out;}
.svg-result-excellent-bird { width: 188px; left: 262px; bottom: 78px; animation: animal 1.5s infinite;}
.svg-result-excellent-cat { width: 148px; left: 664px; bottom: 132px; animation: animal 1.5s infinite; animation-delay: .25s;}
.svg-result-excellent-background { width: 756px; left: 162px; bottom: 98px; animation: bground 1s alternate infinite;}

.svg-result-ribbon { width: 678px; left: 202px; bottom: 0; animation: ribbon 3s alternate infinite linear;}
.svg-result-medal { width: 126px; left: 472px; bottom: 160px; animation: medal 1s alternate infinite ease-in-out;}

@keyframes bground {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ribbon {
  0% {
    transform: translateX(0);
  }
  42% {
    transform: translateX(0);
  }
  46% {
    transform: translateX(-3px);
  }
  54% {
    transform: translateX(1px);
  }
  58% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animal {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes medal {
  0% {
    transform: rotate(2deg);
    transform-origin: center top;
  }
  100% {
    transform: rotate(-2deg);
    transform-origin: center top;
  }
}

@keyframes avatar {
  0% {
    transform: rotate(1deg) skewX(-0.5deg);
    transform-origin: center bottom;
  }
  100% {
    transform: rotate(-1deg) skewX(0.5deg);
    transform-origin: center bottom;
  }
}