@font-face {
  font-family: 'Gen Jyuu Gothic X';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GenJyuuGothicX-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gen Jyuu Gothic X';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/GenJyuuGothicX-Bold.ttf) format('truetype');
}

.App {
  width: 1080px;
  height: 1920px;
  position: relative;
  font-family: 'Gen Jyuu Gothic X';
}

img {
  pointer-events: none;
}

* {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* general */

.action-btn {  
  width: 360px;
  height: 180px;
  position: relative;
  margin: 0 auto;
  border: 8px solid #AC5508;
  border-radius: 84px;
  color: #FFF;
  font-size: 60px;
  font-weight: 900;
  line-height: 180px;
  letter-spacing: .05em;
  text-align: center;
}

.action-btn:before {
  content: '';
  width: 360px;
  height: 180px;
  border-radius: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(.93) scaleY(.88);
  transform-origin: left bottom;
  background-color: #EF8519;
}

.svg {
  position: absolute;
}

/* start page */
.svg-start-background { width: 100%; left: 0; top: 0; }
.svg-start-branch { width: 100%; left: 0; top: 0; }
.svg-start-logo { width: 274px; left: 402px; top: 96px; }
.svg-start-title { width: 882px; left: 78px; top: 438px; }
.svg-start-bat { width: 106px; right: 120px; top: 88px; }
.svg-start-bird { width: 328px; left: 84px; bottom: 38px; }
.svg-start-cat { width: 254px; right: 180px; bottom: 138px; }
.svg-start-grass { width: 100%; left: 0; bottom: 0; }
.svg-start-mouse { width: 192px; left: 0; bottom: 0; }
.svg-start-lizard { width: 220px; right: 0; bottom: 0; }

.start-btn {
  position: absolute;
  left: 50%;
  top: 900px;
  transform: scale(1.4) translateX(-35.7%);
}

/* intro page */
.intro {
  background-color: #7FBE26;
  width: 100%;
  height: 100%;
  padding-top: 350px;
}

.intro-container {
  position: relative;
  background-color: #FFFFFF;
  width: 690px;
  height: 970px;
  border-radius: 50px;
  border: 10px solid #3E7C18;
  margin: 0 auto;
  overflow: hidden;
}

.intro-title {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  color: #3E7C18;
  margin-top: 80px;
  margin-bottom: 10px;
}

.intro-description {
  text-align: center;
  width: 70%;
  font-size: 32px;
  color: #1A1A1A;
  margin: 0 auto;
}

.intro-btn {
  transform: scale(.92);
  margin: 48px auto;
}

.svg-intro-avatar { width: 326px; right: 150px; bottom: -10px; }
.svg-intro-dialog { width: 130px; left: 104px; bottom: 272px; }

/* quiz page */

.question-wrapper {
  display: flex;
  width: 80%;
  margin: 180px auto 60px;
}

.question-count {
  font-size: 108px;
  font-weight: 900;
  color: #7EBC25;
  width: 200px;
}

.question-content {
  font-size: 48px;
  color: #1A1A1A;
  margin-left: 48px;
  padding-top: 12px;
}

.answer-options {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.answer-option {
  text-align: center;
  display: table;
  width: 212px;
  height: 212px;
  color: #488A1F;
  border: 6px solid #3E7C18;
  border-radius: 50%;
  position: relative;
  font-size: 36px;
}

.answer-option p {
  display: table-cell;
  vertical-align: middle;
  word-break: keep-all;
}

.answer-option.correct:after {
  content: '';
  background: url(./images/quiz/correct.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  right: -8px;
  top: -8px;
  animation: check .25s ease-in;
}

.answer-option.incorrect:after {
  content: '';
  background: url(./images/quiz/incorrect.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  right: -8px;
  top: -8px;
  animation: check .25s ease-in;
}

@keyframes check {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.answer-option:before {
  content: '';
  width: 212px;
  height: 212px;
  transform: scale(.9);
  transform-origin: left bottom;
  display: block;
  background-color: #CDDC4C;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.illustration {
  margin: 60px auto;
  position: relative;
}

.illustration:before {
  content: '';
  width: 264px;
  height: 180px;
  position: absolute;
  right: 144px;
  top: 60px;
}

.illustration.success:before {
  background: url(./images/quiz/success.svg) center center no-repeat;
  animation: stamp .5s ease-in;
}

.illustration.failure:before {
  background: url(./images/quiz/failure.svg) center center no-repeat;
  animation: stamp .5s ease-in;
}

@keyframes stamp {
  0% {
    transform: scale(5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.answer-description {
  position: absolute;
  left: 37%;
  width: 45%;
  font-size: 36px;
  color: #1A1A1A;
  margin-left: 48px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.answer-options.true .answer-description{
  visibility: visible;
  opacity: 1;
}

/* result page */

.result {
  background: radial-gradient(circle at center, #FFFFFF 0%, #FFFFFF 70%, #CDDC4C 70%, #CDDC4C 100%);
  width: 100%;
  height: 100%;
  padding-top: 300px;
}

.result-title {
  font-size: 60px;
  color: #1A1A1A;
  text-align: center;
}

.result-score {
  font-size: 96px;
  font-weight: 900;
  color: #7EBC25;
  display: inline-block;
  width: 108px;
  text-align: center;
}

.result-details {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 48px auto;
}

.svg-result-each {
  width: 156px;
}

.detail-per-question {
  position: relative;
}

.detail-per-question:after {
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  right: -4px;
  top: -4px;
}

.detail-per-question.correct:after {
  background: url(./images/quiz/correct.svg);
}

.detail-per-question.incorrect:after {
  background: url(./images/quiz/incorrect.svg);
}

.result-illustration {
  position: relative;
  width: 100%;
  height: 600px;
}

.svg-result-okay-book { width: 170px; left: 336px; bottom: 162px;}
.svg-result-okay-avatar { width: 338px; left: 374px; bottom: 146px;}

.svg-result-nice-avatar { width: 356px; left: 360px; bottom: 152px;}

.svg-result-great-avatar { width: 386px; left: 366px; bottom: 142px;}
.svg-result-great-bird { width: 188px; left: 638px; bottom: 68px;}
.svg-result-great-background { width: 592px; left: 232px; bottom: 98px;}

.svg-result-excellent-avatar { width: 576px; left: 254px; bottom: 154px;}
.svg-result-excellent-bird { width: 188px; left: 262px; bottom: 78px;}
.svg-result-excellent-cat { width: 148px; left: 664px; bottom: 132px;}
.svg-result-excellent-background { width: 756px; left: 162px; bottom: 98px;}

.svg-result-ribbon { width: 678px; left: 202px; bottom: 0; }
.svg-result-medal { width: 126px; left: 472px; bottom: 168px;}